.rightbox {
  width: 350px;
  height: 600px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 30%;
}

.form > * {
  height: 40px;
  border-radius: 5px;
  border: 1px solid grey;
  margin: 20px;
}
